/* html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* Animation input */

/* .form {
  width: 50%;
  position: relative;
  height: 50px;
  overflow: hidden;
}
.form input {
  height: 100%;
  width: 100%;
  color: rgb(130, 130, 139);
  padding-bottom: 20px;
  border: none;
  outline: none;
}

.form label {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  left: 0%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.form label::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: (-1px);
  height: 100%;
  width: 100%;
  border-bottom: 3px solid skyblue;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .lable-name .content-name,
.form input:valid + .lable-name .content-name {
  transform: translateY(-150%);
}

.form input:focus + .lable-name::after,
.form input:valid + .lable-name::after {
  transform: translateX(0%);
} */
