html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
#root {
  height: 100%;
}

.title-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.1rem;
}

.aside-button {
  font-size: 3rem;
  text-decoration: none;
  color: white;
  border: none;
  background-color: #203040;
}
.aside-button:hover {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transform: translateX(-40rem);
  width: 40rem;
  background-color: rgb(177, 177, 177);
  height: 100%;
}

.sidebar.open {
  transform: translateX(0rem);
}

.close-button-sidebar {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border: 0.1rem black solid;
  font-size: 2rem;
  padding-top: 0;
  position: absolute;
  right: 3rem;
  top: 2rem;
}
.close-button-sidebar:hover {
  cursor: pointer;
  background-color: white;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.header a {
  color: white;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.header-links a {
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}
.header-links a:hover {
  color: #ff8000;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-image {
  max-width: 35rem;
  max-height: 35rem;
}

.product-list li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 30rem;
  margin: 1rem;
  height: 45rem;
  border-bottom: 0.1rem solid #c0c0c0;
}

.product-name {
  font-size: 3rem;
}

.product-price {
  font-size: 2rem;
}

.product-brand {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* product-details */

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 4rem;
}
.details-image {
  flex: 2 1 20rem;
}
.details-image img {
  max-width: 60rem;
  width: 100%;
}
.details-info {
  flex: 1 0.5 10rem;
}
.details-action {
  flex: 0.5 0.5 20rem;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}
.back-to-result {
  padding: 1rem;
}
.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #404040 solid;
}
.button.primary {
  background-color: #f0c040;
}
.button.secondary {
  background-color: #f0f0f0;
}
.text-center {
  text-align: center;
}

/* cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list {
  flex: 2 1 60rem;
}

.cart-action {
  flex: 1 1 10rem;
  background-color: #f8f8f8;
  border: 0.1rem #f8f8f8 solid;
  border-radius: 0.5rem;
  padding: 2rem;
}
.cart-list-container {
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-list-container li img {
  max-height: 10rem;
  max-width: 10rem;
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #808080 solid;
}
.cart-image {
  flex: 1 1;
}

.cart-price {
  font-size: 2.5rem;
  flex: 1 1;
  text-align: right;
}

.cart-name {
  flex: 8 1;
}

.full-width {
  width: 100%;
}

/* 
form */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 35rem;
  padding: 2rem;
  border: 1px #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

/* table */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* checkoutSteps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  width: 40rem;
}

.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
}

.checkout-steps > div.active {
  border-top: 0.3rem #ff8000 solid;
  color: #ff8000;
}

/* placeorder */

.placeorder {
  display: flex;
  flex-grow: wrap;
  padding: 1rem;
  justify-content: space-between;
}

.placeorder-info {
  flex: 3 1 60rem;
}

.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}

.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}

.placeorder-info > div:first-child {
  margin-top: 0;
}

.placeorder-action > ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;
}

.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
}

.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  color: #c04000;
  font-weight: bold;
}
